@media screen and (min-width: 1350px) {
  .insurance-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.75fr 0.25fr;
    grid-template-areas: ". form discount .";
    justify-content: center;

  }

  .form-space {
    grid-area: form;
  }

  .discount-space {
    grid-area: discount;
  }
}


@media screen and (min-width: 999px) {
  .insurance-grid {
    display: grid;
    grid-template-columns: 0.75fr 2fr 1fr;
    grid-template-areas: ". form discount";
    justify-content: center;
    grid-gap: 33px;
  }

  .form-space {
    grid-area: form;
  }

  .discount-space {
    grid-area: discount;
  }
}


@media screen and (max-width: 998px) {

  #insurance {
    margin: 2rem 8rem 2rem 8rem;
  }

  #discounts {
    margin: 2rem 8rem 2rem 8rem;
    min-height: 450px;
  }
}

@media screen and (max-width: 650px) {

  #insurance {
    margin: 25px 15px 25px 15px;
  }

  #discounts {
    margin: 25px 15px 25px 15px;
  }
}
