.jumbotron {
  min-height: 100vh;
  margin: 0;
}

.grid-row {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "a b c ";
}

.right-position {
  grid-area: c;
}

.left-position {
  grid-area: a;
}

.middle-position {
  grid-area: b;
  text-align: center;
}
