<div class="form-grid-container">
  <div class="col-8">
  <ul class="list-group text-center">
    <li class="list-group-item" style="cursor: pointer; border: solid #0f6674; opacity: 66%;" [ngClass]="{'green': show}" (click)="dummy()">Cras justo odio</li>
    <li class="list-group-item active">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  </div>




  <div class="form-content">
    <div class="card-body bg-white shadow rounded">
      <form [formGroup]="additionalInsuranceForm">
        <div class="grid-row pt-3">
          <h3 class="pl-sm-2 pl-md-3 pl-lg-3  middle-position ">Additional insurances</h3>
        </div>
        <hr>
        <div class="form-row justify-content-center">
          <div class="form-group col-md-8">
            <div class="grid-row pt-3">
              <label class="switch left-position">
                <input type="checkbox" formControlName="campaignDisc">
                <span class="slider round"></span>
              </label>
              <span class="pl-sm-2 pl-md-3 pl-lg-3  middle-position">Accidental death</span>
            </div>
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="form-group col-md-8">
            <div class="grid-row pt-3">
              <label class="switch left-position">
                <input type="checkbox" formControlName="campaignDisc">
                <span class="slider round"></span>
              </label>
              <span class="pl-sm-2 pl-md-3 pl-lg-3 middle-position">Traffic accidental death</span>
            </div>
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="form-group col-md-8">
            <div class="grid-row pt-3">
              <label class="switch left-position">
                <input type="checkbox" formControlName="campaignDisc">
                <span class="slider round"></span>
              </label>
              <span class="pl-sm-2 pl-md-3 pl-lg-3  middle-position">Surgical reimbursement for any reason</span>
            </div>
          </div>
        </div>
      </form>
      <div class="grid-row pt-3">
        <button type="submit" class="btn btn-primary left-position" routerLink="">Prev</button>
        <button type="submit" class="btn btn-primary right-position ">Next</button>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div class="employees">
      <span class="employee-p">Main insurance price</span>
      <p class="counter-count">{{price}}</p>
    </div>
  </div>

</div>>
